				<!-- Additional Elements -->
                <section class="wrapper style1 ">
                    <div class="inner">
                        <h2>Introduction</h2>
                        <p>
                            I was a dance and secondary education major with a minor in musical theater performance at Bridgewater State University in Bridgewater, Massachusetts. I also earned my MA Teaching License in dance for grades K-12 so that I can teach dance in the MA public school system. My time as an undergraduate dance major was rigorous and creatively and academically and artistically challenging. This portfolio showcases the wide variety of work I did during my time at BSU.</p>
                    </div>
                </section>

                	<!-- Additional Elements -->
                    <section class="wrapper style1 ">
                        <div class="inner">
                            <h2>Research</h2>
                            <p>
                                    <p>
                                        Advanced Individual Project- Choreographing the High School Musical: 
                                    </p>
                                    <p>
                                        Teaching Methods for Teaching Choreography to a High School Theatre Company
                                    </p>
                            </p>
                            <p>
                                This was the most extensive research project I conducted while at BSU. For this project, I worked with a high school theater company on their spring musical, The Addams Family. Before choreographing for this company, I researched various teaching methods and strategies and created an annotated bibliography with the techniques I planned to use while teaching these dances to my students. Before each rehearsal, I created a lesson plan using these methods. After each rehearsal, I reflected on the strategies used and evaluate them based on their effectiveness.
                            </p>
                            <br/>
                            <p>
                                After all of the rehearsals were complete, I created a second annotated bibliography including the evaluations of the teaching strategies. From there, I created an online portfolio showcasing the most effective practices. I presented this research as a poster presentation at the National Dance Education Organization's 2018 National Conference in San Diego, California, and shared my findings with other dance educators that work with similar populations.
                            </p>
                        </div>
                    </section>

                
                    <section class="wrapper style1 ">
                        <div  class="inner">
                            I created an annotated bibliography for this project and presented my work at a poster presentation for the Mid-Year Symposium at Bridgewater State University.
                        </div>
                    </section>

                    <section class="wrapper style1 ">

                        <div class=" wrapper style1 align-center">

                            <img src="/images/slide1_1_orig.png" alt="">
                        </div>
    
                        <div class="inner">
                            Full project and portfolio can be viewed at choreographingthehighschoolmusical.weebly.com , or by clicking this button!
    
                        </div>
    
                        <div class=" wrapper style1  align-center  ">
                          
    
                            <div class="button">  View Project</div>
                        </div>
    
                        <div class="inner">
<p>                            Dance Methodology- The Pressure to Bend:
</p>    
                            <p>​The Mental and Physical Effects of Pressure from Dance Educators to be Flexible on Adolescent and Teenage Students
                            </p>
                            <p>
                                During the course Dance Methodology. I dove into my passion for ableism in dance and researched the pressure for adolescent and teenage students to be physically flexible. This research was inspired by my own experience in dance, as I have a genetic condition that makes the tendons in my lower extremities significantly shorter than the average person's, thus making me less flexible than the other dancers in my classes. I experienced this pressure to bend and I found many similarities to my experience through my research. I found that this pressure can be harmful to dancers both physically and mentally.
                            </p>
                        </div>
    
    
                        
                    
                    </section>
                    <section class="wrapper style1 ">

                        <div class="inner">
                            <h2>Dance Educator Preparation
                            </h2>
    
                            <div>
                                Not only am I a double major in dance and secondary education, but I took many courses specially geared towards dance education. During the courses Creative Dance for Children, Dance Methodology, and Ballet Pedagogy, I learned skills for dance educators including effective teaching strategies, developmental psychology, and classroom management. I created a variety of lesson plans throughout these courses as well as co-taught a lesson with my peers at a middle school in Brockton, MA.
                            </div>
    
                            <div>
                                Through the education department, I am becoming SEI (Sheltered English Immersion) endorsed and earning my MA Teaching License in dance for grades K-12. I will be student teaching at the Sage School in Foxborough, MA during the spring of 2019.
                            </div>
                        </div>
                    </section>